.footer-bar{
  background-color: #212121;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
}

.header-bar{
  background-color: #212121;
  top: 0px;
  width: 100%;
  height: 40px;
}