.topContainer{
  padding: 1em;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
  min-width: 700px;
  border-radius: 2px;
  -webkit-box-shadow: 10px 10px 52px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 52px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 52px -8px rgba(0,0,0,0.75);
}

.scheduleNavigation{
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}

.scheduleNavigation h2{
  font-size: 1.5em;
}

.hourRow{
  height: 4em;
  width: 100%;
  margin-bottom: .2em;
}

.hourContents{
  float: left;
  clear: right;
  width: 80%;
  height: 100%;
  border-radius: 3px;
  background-color: #f6f1ed;
}

.hourView{
  text-align: right;
  padding: .5em;
  width: 20%;
  clear: left;
  float: left;
}

.hourContainer{
  float: left;
  width: 90%;
}

.hourController{
  width:10%;
  background-color: red;
  float: left;
}


.hourContainer h3{
  text-align: left;
  font-size: 1.2em;
  margin: .5em;
}